@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background: black;
	font-family:"Montserrat", Arial, Helvetica, sans-serif;
	color: white;
}

h1{
	color: gray;
}

a{
	color: cyan;
}

.assignment{
	display:flex;
	padding:12px;
	margin:12px;
	margin-bottom:25px;
	border-radius:5px;
	background-color:darkblue;
	box-shadow: 5px 10px DarkCyan;
}

.assignment img{

	border:10px solid black;
	margin-right: 20px;
	border-radius:5px;
}

.assignment a:hover {
	color: DarkTurquoise;
}